<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title size="large">Home</ion-title>

      <ion-buttons (click)="menu($event)" slot="end" class="btn"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-buttons>
      <ion-button (click)="presentActionSheet()" slot="primary" size="small" fill="clear" class="settings"><ion-icon name="settings-outline"></ion-icon></ion-button>

    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>If you made it here that means my forms are working <ion-icon name="happy-outline"></ion-icon></h1>
    <ion-button (click)="trivias()" color="success"> Press here for some Trivias</ion-button>
    <ion-button (click)="news()" color="success"> Press here for some News</ion-button>
  </div>
</ion-content>
